{% extends base_layout %}
{% block mediaCSS %}
{% block title %}
        
{% endblock %}
{% block header_title %}
        
{% endblock %}
{% block header_title_lead %}
{% endblock %}
{% block subnavbar %}
{% endblock %}
{% endblock %}
{% block content %}
<div style="float:left">
<a href="/list_cards/" class="btn btn-primary">Refresh</a>
</div>
<div style="float:right">
	<a href="/add_card/"class="btn btn-success">Add card</a>
</div>
	
<table class="table">
		<tr><td>Ending</td><td>Name</td><td>Type</td><td> </td><td>email</td></tr>
{% for card in cards %}
		<tr><td>{{ card.cardEnding }}</td><td>{{ card.cardName }}</td><td>{{ card.cardType }}</td><td><img height="40px" src="http://www.mastercard.com/global/_assets/img/products/standard-cc-intro.png"></td><td>{{ card.email}}</td></tr>

{% endfor %}
</table>
{% endblock %}