<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Smart Pocket</title>
<link rel="stylesheet" href="/{{ theme }}/css/master.css" />
</head>
<body>
<img style="position:fixed;right:50px;" src="/{{ theme }}/img/simplify.png">
<div class="general">
	<section id="section">
		<a href="/contact/" class="classname">Subscribe</a>
	</section>
	<div>

	</div>
	<div>
		<a href="/sample/"><img style="float:right;"class="imagen" src="/{{ theme }}/img/phone.png" alt="smart pocket" /></a>
	</div>
	<footer>
		<p ><img class="displaynonewhenlittle" style="max-width:400px;min-width:400px;float:left;"  width="600px" src="/{{ theme }}/img/logo.png" alt="smart pocket" /></p>
	</footer>
</div>
</body>

</html>
